<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <span>{{ firstNumber }} + {{ secondNumber }} = </span>
        <input type="number" v-model="result" />
        <div v-if="result != ''">
            <div v-if="firstNumber + secondNumber == parseInt(result)">RIGHT!!!</div>
            <div v-else>WRONG!!!</div>
        </div>
    </div>
    <!-- app -->
    <script src="script.js"></script>
</body>
</html>